.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

#imgPreview {
    margin: 20px;
}

#currentImage {
    margin: 20px;
    width: 100px;
}

#noimage, #productimage {
    width: 100px;
}