<h1>{{ title | uppercase }}</h1>
<p>{{ title }}</p>
<h3>Event counter: {{ counter }}</h3>
<button (click)='handleEvent()'>Click Event</button>
<input placeholder="keydown Event" [(ngModel)]='title' (keydown)='handleEvent()'/>
<h3>Property binding: {{ customprop }}</h3>
<input placeholder="property binding" [ngModel]='customprop' />
<h3>jsonValue: {{ jsonValue.a }} {{ jsonValue.b }}</h3>
<h3>{{ jsonValue | json }}</h3>
<h3>{{ newDate | date:'full'}}</h3>
<h2>Truncate pipe: {{ title | truncate }}</h2>
<button (click)='handleService()'>handleService</button>
<hr>
<p>see the user.component(.ts/.html)</p>
<hr>
<input placeholder="user" [(ngModel)]="userObject.name"/>
<input placeholder="user" [(ngModel)]="userObject.age"/>
<input placeholder="user" [(ngModel)]="userObject.id"/>
<app-user [user]="userObject" (userEvent)="handleComponentEvent($event)"></app-user>